:root{
   --maroon: #631111;
   --maroon_hover: #2d0404;
}

*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Anton', cursive;
}
.h2-font{
    font-family: 'Poppins';
    font-size: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 input[type=number] {
    -moz-appearance: textfield;
 }

.custom-bg{
    background-color: var(--maroon);
    border: 1px solid var(--maroon);
 }
 .custom-bg:hover{
    background-color: var(--maroon_hover);
    border-color: var(--maroon_hover);
 }
 .more-details{
    background-color: #fff;
 }
 .more-details:hover{
    background-color: var(--maroon_hover);
 }
 .bg{
    background-color: var(--maroon_hover);
 }

 .h-line{
   width: 250px;
   margin: 0 auto;
   height: 1.7px;
 }